<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
    <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
           <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
           <br><br>
           <span style="font-size:25px"><i>This is to certify that</i></span>
           <br><br>
           <span style="font-size:30px"><b><%=myData.Name%></b></span><br/><br/>
           <span style="font-size:25px"><i>has Successfully Vaccinated for</i></span> <br/><br/>
           <span style="font-size:30px">COVID-19</span> <br/><br/>
           <span style="font-size:20px">At Hospital <b><%=myData.hospitalName%>, <%=myData.districtName%> , <%=myData.stateName%></b></span> <br/><br/><br/><br/>
    </div>
    </div>
</html>